//- app/views/index.pug
//- отображение главной страницы '/' со всеми заметками

extends layouts/common.pug

block addLinks
    link(rel="stylesheet", href="/css/main.css")

block content

    //- вставлять контент сюда
    div(class="buttons border bg-light row p-2 justify-content-around", id="buttons")
        button(class="btn btn-outline-primary col-5 mx-2", id="noteButton") Create new note
        button(class="btn btn-outline-success col-5 mx-2", id="listButton") Create new list

    div(class="content-box border bg-secondary row p-2")
        include includes/main/contentItem.pug


block addScripts
    script(src="/js/main/rqstCtrl.js", type='text/javascript')
    script(src="/js/main/uiCtrl.js", type='text/javascript')
    script(src="/js/main/script.js", type='text/javascript')

