//- app/views/lists.pug
//- отображение страницы c заметкой 2-го типа '.../lists'
    //- TO-DO список: название (опционально), перечень задач с чекбоксом для отметки того, что задача была выполнена

extends layouts/common.pug

block addLinks
    link(rel="stylesheet", href="/css/lists.css")
    //- проверить правильность пути


block content

    div(class="container")
        form(id="needs-validation" class="d-flex flex-column" novalidate)
            label(for="Title") Title
            div(class="input-group mb-3")
                input(class="form-control form-control-lg" type="text" name="title" placeholder="Enter Note Title")
            div(class="input-group mb-3")
                div(class="input-group-prepend")
                    div(class="input-group-text")
                        input(type="checkbox" name="isdone" onchange="completeItem(event)")
                input(type="text" class="form-control" name="description" placeholder="List item" oninput="plusList(event)" onkeydown="enterKey(event)" required)
                div(class="input-group-append delete")
                    span(class="input-group-text")
                        i(class="far fa-times-circle")
                div(class="invalid-feedback") Please create at least one list item.
            small(class="ml-5 form-text text-muted mb-3" id="add-list-item" onclick="addField()" hidden) 
                i(class="fa fa-plus")       List item

        button(type="button" class="my-3 btn btn-success" id="create" onclick="createBtnClick()") 
            <i class="fas fa-plus-circle"></i>      Create Note
                
            


block addScripts
    script(src="/js/lists/script.js")
    //- проверить правильность пути
