//- app/views/notes.pug
//- отображение страницы c заметкой 1-го типа '.../notes'

extends layouts/common.pug

block content
    div.container
        form(method='POST', action='/api/notes', id='noteForm')
            form-group
                label Title:
                input.form-control.mt-3.mb-3(name='title', type='text')
            form-group
                label Note:
                textarea.form-control(name='description', type='text', rows = 8, required)
            button.btn.btn-success.mt-3.mb-3(type='submit', value='Create Note', id='sbmt-btn')
                <i class="fas fa-plus-circle"></i>      Create Note

