//- app/views/layouts/common.pug
//- общий шаблон для построения всех страниц
//- в т.ч. делаем общий хедер для всех страниц, а мейн-секшен будет свой на каждой странице
//- шаблон будет еще дорабатываться, в т.ч. бутстрапом

doctype html
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.2/css/all.css", integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay", crossorigin="anonymous")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")

        link(rel="stylesheet", href="css/style.css")

        block addLinks
        block title
            title STEP 4. Notes (Ajax, Bootstrap, Node.js, MongoDB)

    body
        header(class="header content-fluid bg-light", id="header")
            div(class="row mx-0 p-2 align-items-center")

                a(class="header-logo col-3 col-lg-2 col-xl-1 pr-1", id="header-logo", href="/")
                    img(class="img-fluid", src="/img/logo_main.png", alt="LOGO")

                h1(class="header-text col-9 col-lg-10 col-xl-11 pr-3 text-right display-4 text-primary", id="header-text") Keep&nbspyour&nbspmemo clean&nbsplike&nbspchild

        section(class="main-section content-fluid bg-light", id="mainSection")

            block content

            //- section(class="main-section bg-light p-2", id="mainSection")

            //-     block content


        script(src="https://code.jquery.com/jquery-3.4.1.min.js", integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")

        block addScripts




